#projetos{
    
}

/* ========================================= */

#titleProjetos{
    color: white;
    margin-bottom: 20px;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-left: 15px;
}

/* ========================================= */

.cardsProjetosAll{
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
    gap: 10px;
}

.cardProjeto{
    min-height: 480px;
    width: 49%;
/*     background-color: red; */
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
/*     border: solid 1px red; */
}

.bodyCardProjeto{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* ========================================= */

.headerProjeto{
    width: 100%;
    min-height: 200px;
    background-color: #C4C4C4;
}

.barHeaderProjeto{
    min-height: 200px;
    width: 5px;
    background-color: var(--blue-color);
}

.titleProjeto{
    font-size: 24px;
    color: white;
}

.descProjeto{
    font-size: 16px;
    font-weight: 300;
    color: white;
}

.btnProjeto{
    width: 150px;
    height: 45px;
    cursor: pointer;
    border: 3px solid;
    border-radius: 7px;
    font-family: var(--font-primary);
    font-size: 16px;
    font-weight:500;
    letter-spacing: 0.5px;
    background-color: none;
    background:none;
    color: white;
    border-image: linear-gradient(90deg, #9358F7 , #10D7E2 100%) 1;
}

/* ========================================= */