@import url(./style-tabs.css);

#experiencia{
/*     display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
}

#titleExperiencia{
    color: white;
    margin-bottom: 30px;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 1px;
}